@import "../../styles/utils/variables";

.header {
  background: $header-bg;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  height: 50px;
  box-shadow: $header-box-shadow;
  overflow: hidden;
}

.navigation__wrapper {
  nav {
    display: none;
  }
  @media screen and (min-width: 768px) {
    nav {
      display: block;
    }
    display: flex;
    align-items: center;
    height: 100%;
    border-right: #5bc8ad77 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $primary-text-color;
  font-size: 12px;
  border: 1px solid $primary-text-color;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}

.logo svg {
  margin-right: 10px;
}

.logo,
.logo svg {
  transition: ease-in-out 250ms;
}

.logo:hover {
  border-color: $hover-text-color;
  background-color: rgba(0, 0, 0, 0.185);
}

.logo:hover,
.logo:hover svg {
  color: $hover-text-color;
  fill: $hover-text-color;
}

.logo svg {
  fill: $primary-text-color;
}

.burger_btn {
  cursor: pointer;
  outline: none;
  border: none;

  &:focus,
  &:hover,
  &:focus-visible {
    outline: none;
    border: none;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.burger_btn div {
  &:focus,
  &:hover,
  &:focus-visible {
    outline: none;
    border: none;
  }
}

.menuWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
