@import "../../styles/utils/variables";

.Link {
  text-decoration: none;
  color: $primary-text-color;
  transition: 250ms ease-in-out;
}

.Link:not(:last-child) {
  margin-right: 10px;
}

.Link:hover {
  color: $hover-text-color;
}

.activeLink {
  color: $active-text-color;
  position: relative;
}

.activeLink:hover::before {
  background-color: $hover-text-color;
}

.activeLink::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 15%);
  bottom: -20%;
  left: -7%;
  height: 2px;
  border-radius: 10px;
  background-color: #b1d7d2;
  transition: ease-in-out 250ms;
  animation-name: active_link_undeline;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.navigation {
  display: flex;
  justify-content: space-between;
}

@keyframes active_link_undeline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
