@import "../../styles/utils/variables";

.authNav {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  border-left: #5bc8ad77 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.authNavLink {
  text-decoration: none;
  color: $primary-text-color;
  transition: 250ms ease-in-out;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.authNavLink:hover {
  color: $hover-text-color;
}

.authNavLink:hover::before {
  background-color: $hover-text-color;
}

.authNavLinkActive {
  position: relative;
  color: $active-text-color;
}

.authNavLinkActive::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 15%);
  bottom: -20%;
  left: -7%;
  height: 2px;
  border-radius: 10px;
  background-color: $active-text-color;
  transition: ease-in-out 250ms;
  animation-name: active_link_undeline;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes active_link_undeline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
