.authNav {
  display: inline-flex;
  height: 100%;
  align-items: center;
  min-width: 200px;
  justify-content: space-between;
  border-left: #5bc8ad77 1px solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left:20px;
}


.authNavLink {
  text-decoration: none;
  color: #f1f3ce;
  transition: 250ms ease-in-out;
}

.authNavLink:hover {
  color: #5bc8ac;
}

.authNavLink:hover::before {
  background-color: #5bc8ac;
}

.authNavLinkActive {
  position: relative;
  color: #b1d7d2;
}

.authNavLinkActive::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 15%);
  bottom: -20%;
  left: -7%;
  height: 2px;
  border-radius: 10px;
  background-color: #b1d7d2;
  transition: ease-in-out 250ms;
  animation-name: active_link_undeline;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes active_link_undeline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
