.authNav {
  display: flex;
  min-width: 200px;
  justify-content: space-between;
}

.authNavLink {
  text-decoration: none;
  color: #b1d7d2;
}

.authNavLinkActive {
  position: relative;
  color: #5bc8ac;
}

.authNavLinkActive::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 15%);
  bottom: -20%;
  left: -7%;
  height: 2px;
  border-radius: 10px;
  background-color: #b1d7d2;
  transition: ease-in-out 250ms;
  animation-name: active_link_undeline;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes active_link_undeline {
  0% {
    /* width: 0; */
    transform: scaleX(0);
  }
  100% {
    /* width: calc(100% + 15%); */
    transform: scaleX(1);
  }
}

