@import "../../styles/utils/variables";

.list__wrapper {
  width: 400px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  box-shadow: $block-box-shadow;
  height: 400px;
  overflow: hidden;
  @media screen and(max-width: 767px) {
    max-width: 100%;
  }
}

.list__heading {
  color: $hover-text-color;
  padding: 0 10px;
  display: flex;
  margin-bottom: 20px;
  position: relative;

  h4:not(:last-child) {
    margin-right: 125px;
  }
  h4 {
    margin: 0;
    padding: 0;
  }
}

.contacts_wrapper {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

///////////////////////////

.spinner_Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 0 15px;

  color: $primary-text-color;

  transition: 250ms all ease-in-out;
}

.pagination__element {
  transition: 250ms all ease-in-out;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(n) {
    margin-right: 10px;
  }

  cursor: pointer;
  &:hover {
    color: $hover-text-color;
  }

  &_active {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $active-text-color;
    transition: 250ms all ease-in-out;
    position: relative;
    border: 1px solid transparent;
    border-radius: 100%;
  }

  &_active::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid $active-text-color;
    border-radius: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_active:hover {
    background-color: rgba(0, 0, 0, 0.281);
    // border-color: $hover-text-color;
  }
}

.pagination__next,
.pagination__previous {
  transition: 250ms ease-in-out all;
  cursor: pointer;
}

.pagination__previous {
  margin-right: 10px;
}

.pagination__next:hover,
.pagination__previous:hover {
  color: $hover-text-color;
}

.pagination__next {
  margin-left: 10px;
}
