@import "../../styles/utils/variables";

.logoutBtn {
  min-width: 75px;
  min-height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  background-color: #fff;
}

.logoutBtn:hover {
  background-color: $primary-text-color ;
}

.userMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  color: $active-text-color;
  flex-direction: row;

  @media screen and(max-width:767px) {
    flex-direction: column;
  }
}
.userMenu__userInfo {
  display: flex;
  margin: 0;
  @media screen and(max-width:767px) {
   margin-bottom: 15px; 
  }
}

.userMenu svg {
  fill: $active-text-color;
  margin-right: 10px;
}
